.button{
    font-size:15px;
    width: 100%;
    border: none;
    outline:none;
    background-color: #012E7A;
    color: #CEE4F1;
    padding: 5px 0;
    height: 40px;
    border-radius: 1px;
    cursor: pointer
}

@media (max-width: 800px) {
    .button{
        width: 50%;
        height: 50px;

    }
}